.img-loggin {
    height: 10%;
    width: 10%;
}

.nova-distancia {
    margin-top: 5%;
}

.cantainer-login {
    border: 1px solid red;
    box-shadow: 0 0 15px lightcoral;
    max-width: 700px;
    
}

.form-check-input {
    width: 17px;
    height: 17px;
    border: 1px solid;   
}

.form-check-input:hover {
    box-shadow: 0 0 10px gray;
}

.form-check-input:checked {
    background-color: red;
    border-color: red;
    color: white;
}

.form-check-input:focus {
    border-color: red;
    box-shadow: 0 0 15px lightcoral;
    border-radius: 0;
}

.font-custom {
    font-size: 80%;
    font-family: "Roboto", sans-serif;
}