.btn-3pontos {
    border-color: white;
    border-radius: 35%;
    background-color: white;
}
.img-3pontos {
    height: 15px;
    width: 15px;
}

.scroll {
    overflow-x: scroll;
}

.table-custom {
    min-width: 720px;
}