.card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    background: #f8f9fa;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card p {
    font-size: 0.9rem;
    color: #6c757d;
}

.card h5 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.banco-icon {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.scroll {
    overflow-x: scroll;
}

.table-custom {
    min-width: 720px;
}


.form-check-input {
    width: 17px;
    height: 17px;
    border: 1px solid;   
}

.form-check-input:hover {
    box-shadow: 0 0 10px gray;
}

.form-check-input:checked {
    background-color: red;
    border-color: red;
    color: white;
}

.form-check-input:focus {
    border-color: red;
    box-shadow: 0 0 15px lightcoral;
    border-radius: 0;
}


.btn-3pontos {
    border-color: white;
    border-radius: 35%;
    background-color: white;
}

.img-3pontos {
    height: 15px;
    width: 15px;
}

