.cards-produtos {
    background-color: white;
    color: black;
}

.estrelas {
    color: orange;
}

.table-custom {
    min-width: 700px;
}

.scroll {
    overflow-x: scroll;
    overflow-y: scroll;
}

.btn-produtos:hover {
    background-color: darkred;
    border-color: darkred;  
}

